.description {
   margin-top:10px;
   font-size:14px;
}

.github-link {
   display:block;
   margin-top:10px;
}

#privacy {
   margin-top:10px;
   font-size:12px;

   span[role=img] {
      display:inline;
   }
}